.list{
    display: block;
    height: 25px;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #575757;
    width: 70%;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

.check_box{
    float: left;
    width: 25px;
    height: 25px;
}

.noncheck_box{
    float: left;
    width: 25px;
    height: 25px;
}

button{
    cursor:pointer;
}

input{
    cursor:pointer;
}
