#top_div{
    width: 100%;
    height: 620px;
    border-radius: 0px 0px 80px 80px;
    overflow:hidden;
    padding: 0 145px;
    position:relative;
    background: gray;
}

.hot_recipe{
    width: 223px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 16px;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 49px;
    text-align:center;
    color: #FD6B01;
    margin-left: 150px;
}

.search{
    display: block;
    width: 100%;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 15px;
    color: #676767;
    padding-left: 30px;
}

#dropdown_font1{
    display:block;
    height: 53px;
    width:90%;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 0 solid black;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    line-height: 53px;
    padding: 0 25%;
    margin-left: 10%;
    color: #575757;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

#dropdown_font2{
    display:block;
    height: 53px;
    width:90%;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 0 solid black;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    line-height: 53px;
    padding: 0 25%;
    margin-left: 10%;
    color: #575757;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

#dropdown_font3{
    display:block;
    height: 53px;
    width:90%;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 0 solid black;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    line-height: 53px;
    padding: 0 25%;
    margin-left: 10%;
    color: #575757;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

#more1{
    width: 180px;
    height: 90px;
    background: #FFFFFF;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    padding:0px;
    text-align: center;
    line-height: 20px;
    color: #575757;
}

#more2{
    width: 180px;
    height: 120px;
    background: #FFFFFF;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    padding:0px;
    text-align: center;
    line-height: 20px;
    color: #575757;
}

#more3{
    width: 180px;
    height: 90px;
    background: #FFFFFF;
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 15px;
    padding:0px;
    text-align: center;
    line-height: 20px;
    color: #575757;
}

#create_recipe_css{
    display:inline-block;
    margin-top:40px;
    float: right;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    width: 15%;
    height: 53px;
    background: #FF6B00;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.recipe_size{
    cursor:pointer;
    float:left;
    margin-right:20px; 
    margin-bottom:100px;
    width: 23%;
    height: 408px;
    background: #FFFFFF;
    box-shadow: 26px 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 27px;

}

.recipe_img{
    width: 100%;
    height: 251px;
    border-radius: 27px 27px 0px 0px;
}

.recipe_title{
    margin-top:24px;
    width:100%;
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.6rm;
    line-height: 19px;
    color: #000000;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

.recipe_id{
    margin-top:11px; margin-left:7px; display:inline-block;
    width:70%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    height:20px;
    line-height:20px;
    color: #686868;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

.recipe_animal{
    width: 30%; float: left;
    height: 22px;
    background: #D2D2D2;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #606060;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

.recipe_time{
    width: 40%;
    float: left;
    margin-left:7px;
    height: 22px;
    background: #D2D2D2;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #606060;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}

.user_img{
    width: 20px;
    float:left;
    margin-right:7px;
    height: 20px;
    border-radius:100px;
}

.hot_title{
    width: 70%;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 150px;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
    padding:5px;
}

.hot_summary{
    width: 70%;
    padding:5px;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 127.4%;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    margin-left: 150px;
    word-break : break-all;
    white-space: nowrap;
    overflow: hidden;
}
