.input_box{
    height: 65px;

    padding-left:30px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 0 solid black;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 65px;
    /* identical to box height */

    color: #ABABAB;
}
.input_box2{
    margin-right:30px;
    margin-top:30px;
    float:left;
    width: 338px;
    height: 73px;
    padding-left:30px;
    border: 0 solid black;

    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 73px;
    color: #ABABAB;
}
.input_box3{
    margin-right:30px;
    margin-top:30px;
    float:left;
    width: 246px;
    height: 73px;
    padding-left:30px;
    border: 0 solid black;

    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 73px;
    color: #ABABAB;
}
.input_box4{
    width: 544px;
    height: 300px;

    padding-left:50px;
    padding-top:25px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 0 solid black;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 65px;
    /* identical to box height */

    color: #ABABAB;
}
.radio_box{
    height: 65px;

    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 0 solid black;

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 65px;

    text-align: center;

    color: #575757;
}
.font1{
    height: 41px;

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;

    color: #000000;
}
.nontext{
    width: 100px;
    height: 39px;
    disabled : disabled;

    background: #FF6B00;
    border-radius: 22px;

    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    border: 0 solid black;
    text-align:center;
    color: #FFFFFF;
}

#title{
    margin-left:219px; margin-top: 100px;
    height: 122px;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 48px;
    line-height: 127.4%;
    color: #FFFFFF;
}

#save{
    margin-left:1510px;
    width: 191px;
    height: 65px;
    background: #A9A9A9;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 24px 24px;
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
}

#click_box{
    width: 614px;
    height: 73px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height:73px;
    border-radius: 24px;
}

#star_box{
    width: 510px;
    height: 97px;
    line-height:97px;
    padding-top:10px;
    text-align:center;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
