{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/account/login.css' %}">

<div id="navBarBox">
    {% include 'nav.html' %}
</div>
<div id="loginBox">
    <h2 id="loginText">로그인</h2>
    {% if form.errors %}
    <div class="errorBox">
        <img src="{% static 'img/account/loginErrorImage.png' %}">
        <p style="margin-top: 24.17px;">로그인에 실패하였습니다</p>
        <p style="margin-bottom: 30px;"><span style="font-weight: bold;">아이디 또는 비밀번호를 확인</span>해 주세요</p>
    </div>
    {% endif %}
    <form autocomplete="off" method="POST" action="{% url 'account:login' %}">
        {%csrf_token%}
        <div class="formField">
            <input class="loginInput" autocomplete="off" type="text" name="email"
            placeholder="이메일을 입력해주세요" value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="formField">
            <input class="loginInput" autocomplete="off" type="password" name="password"
            placeholder="패스워드를 입력해주세요" value="{{ form.password.value|default_if_none:'' }}">
            <img src="{% static 'img/account/eye.png' %}" class="showHideToggle">
        </div>
        <button id="loginBtn" class="btn btn-primary" type="submit">로그인</button>
    </form>
    <div class="loginUnderBox">
        <a id="register" href="{% url 'account:agreement' %}">회원가입</a>
    </div>
</div>

<div id="ADBox">
    <!-- 광고, 캠페인 -->
</div>
<script>
$(document).ready(function(){
    $('.showHideToggle').click(function(){
        $(this).prev().toggleClass('active');
        if($(this).prev().hasClass('active')){
            $(this).prev().attr('type',"text");
        }else{
            $(this).prev().attr('type','password');
        }
    });
});
</script>
{% endblock %}
