{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}">
<div id="navBarBox" style="padding: 0 7%;">
    {% include 'nav.html' %}
</div>

<div style="overflow: hidden; width: 100%; position:relative; ">
    <img src="{% static 'img/account/success.png' %}" id="successImage">
    <h2 class="successText"  style="margin-bottom: 0;"><span style="color:#FF5C00;">회원가입이 완료</span>되었습니다!</h2>
    <h2 class="successText">환영합니다!</h2>
    <img src="{% static 'img/account/cat.png' %}" id="catImage">
    <img src="{% static 'img/account/rabbit.png' %}" id="rabbitImage">
    <img src="{% static 'img/account/dog.png' %}" id="dogImage">
</div>

<div class="updateOptionBox" style="margin-bottom: 113px;">
    <a class="loginButton" href="{% url 'account:login' %}">로그인 하기</a>
    <a class="homeButton" href="{% url 'home:home' %}">메인으로 돌아가기</a>
</div>
{% endblock %}
