{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">
    <div id="mainBox">
        {% include 'nav.html' %}
        <div class="my-5" style="margin: 800px 0 800px;">
        <h1 id="mainText">반려동물을 위한<br />요리 레시피를<br />공유해봐요!</h1>
    </div>
    <img id="rabbit" src="{% static 'img/home/home_rabbit.png'%}">
    <img class="rabbitShadow" src="{% static 'img/home/rabbitShadow.png'%}">
    <img id="cat" src="{% static 'img/home/home_cat.png'%}">
    <img class="catShadow" src="{% static 'img/home/catShadow.png'%}">
    <img id="dog" src="{% static 'img/home/home_dog.png'%}">
    <img class="dogShadow" src="{% static 'img/home/dogShadow.png'%}">
    <div>
        <form class="searchBarBox" style="width: 500px;" action="{% url 'home:search' %}" method="POST">
            {% csrf_token %}
            <input class="searchBar" placeholder="질문을 검색해 보세요!" name="q" value="{{q}}">
            <button type="submit"><img src="{% static 'img/question/searchButton.png' %}" width="23.32px"
                    height="23.32px"></button>
        </form>
        <a href="{% url 'recipe:create_recipe' %}" class="createRecipeBtn btn"><span>레시피 작성하기</span>
            <img src="{% static 'img/home/write.png' %}">
        </a>
    </div>
</div>
<div id="contentBox">
    <div class="hotRecipeBox">
        <div id="hotRecipe">
            이번주<br>
            HOT 레시피
        </div>
        <p id="hotRecipeIntro">
            반려동물을 위해 요리 레시피를 공유해봐요!
        </p>
        <div style="padding: 0 200px;display:flex;">
            {% if hot_recipes_dict %}
            {% for item, image in hot_recipes_dict.items %}
                <div class="recipe_size" onclick = "location.href='{% url 'recipe:detail_recipe' recipe_id=item.id %}'" style="margin: 0 auto;">
                    {% if image %}
                        <img class="recipe_img" src="{{ image }}" class="card-img-top" alt="사진">
                    {% else %}
                        <p class="recipe_img noImage">이미지가 없습니다</p>
                    {% endif %}
                    <div style="padding: 0 22px;">
                        <div style="display: inline-block;"><p class="recipe_title" style="max-width:160px;">{{ item.title_limit }}</p></div>
                        <div>
                            <p style="float:left;width: 20px;height: 20px;margin-top:7px;border-radius: 27px; background: #C4C4C4;"><img class="user_img" src="{{ item.author.profile.url }}"> </p>
                            <p class="recipe_id">{{ item.author.nickname }} 의 레시피</p>
                        </div>
                        <div style="margin-top:29px;">
                            <p class="recipe_animal" style="background: #FF8B00;">{{ item.animal }}</p>
                            <p class="recipe_time">{{ item.cooking_time }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
    <div class="bestRecipeBox">
        <div id="bestRecipe">
            이번주<br>
            Best 후기
        </div>
        <p id="bestRecipeIntro">
            후기가 너무 좋은 레시피! 놓치지 말고 만들어봐요.
        </p>
        <div style="padding:0 200px;display:flex;">
            {% if best_review_dict %}
            {% for item, image in best_review_dict.items %}
            <div class="recipe_size" onclick = "location.href='{% url 'review:detail_review' review_id=item.id %}'"style="margin: 0 auto;" >
                {% if image %}
                    <img class="recipe_img" src="{{ image }}" class="card-img-top" alt="사진">
                {% else %}
                    <p class="recipe_img noImage">이미지가 없습니다</p>
                {% endif %}
                <div style="padding: 0 22px;">
                    <div style="display: inline-block;"><p class="recipe_title" style="max-width:160px;">"{{ item.title_limit }}"</p></div>
                    <div>
                        <p style="float:left;width: 20px;height: 20px;margin-top:7px;border-radius: 27px; background: #C4C4C4;"><img class="user_img" src="{{ item.author.profile.url }}"></p>
                        <p class="recipe_id">{{ item.author.nickname }}</p>
                    </div>
                    <div style="margin-top:24px;">
                        <p class="recipe_animal" style="background: #FF8B00;">{{ item.recipe.animal }}</p>
                        <p class="recipe_time">{{ item.recipe.cooking_time }}</p>
                    </div>
                    <div style="margin-top:56px;">
                        <p class="recipe_about" style="max-width:500px;">{{ item.recipe.title }}</p>
                        <p class="review_star"> ★ {{ item.star }}.0</p>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
<div id="aboutBox">
    <img id="aboutRabbit" src="{% static 'img/home/home_rabbit.png'%}">
    <img class="rabbitShadow" style="top:498px;left:324px;width:210px;" src="{% static 'img/home/rabbitShadow.png'%}">
    <img id="aboutCat" src="{% static 'img/home/home_cat.png'%}">
    <img class="catShadow" style="top:503px;left:143px;" src="{% static 'img/home/catShadow.png'%}">
    <img id="aboutDog" src="{% static 'img/home/home_dog.png'%}">
    <img class="dogShadow" style="top:517px;left:471px;" src="{% static 'img/home/dogShadow.png'%}">
    <div id="textBox">
        <h3 id="aboutTitle">
            브랜드 스토리를
            <br>
            들어봐요!
        </h3>
        <p class="aboutIntro"> _<br>
            집사의 레시피는 동물 친구들이 맛있는 음식을 찾아<br>
            여정을 떠나는 스토리로 시작됩니다.
        </p>
        <p class="aboutIntro">동물 친구들의 여정 중 일어나는 왁자지껄하고<br>
            귀여운 이야기들 들으러 가볼까요?
        </p>
    </div>
</div>
<a href="{% url 'about:about' %}" id="aboutBtn">브랜드 소개 보러 가기</a>

<div id="homeUnderBox">
    <!-- 광고, 캠페인 등 -->
</div>
{% include 'footer.html' %}

{% endblock %}
