{% extends 'base.html' %}
{% load static %}
{% load questionFilter %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/question/questionList.css' %}">
<script type="text/javascript" src="{% static 'js/question/question.js' %}"></script>

<div id="navBarBox" style="height: 130px; padding: 0 7%;">
    {% include 'nav.html' %}
</div>
<div class="questionListBox" style="padding: 0 10%; margin:0; height:100%;">
    <form class="searchBarBox" action="{% url 'question:list' %}" method="GET">
        {% csrf_token %}
        <input class="searchBar q" placeholder="질문을 검색해 보세요!" id="q" name="q" value="{{q|default_if_none:''}}">
        <button type="submit" id="searchBtn"><img src="{% static 'img/question/searchButton.png' %}" width="23.32px"
                height="23.32px"></button>
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
    <div style="display:flex;justify-content:flex-end;">
        <a href="{% url 'question:create_question' %}" class="questionCreateBtn"><span>질문하기</span><img
                src="{% static 'img/question/createButton.png' %}"></a>
    </div>
    <!-- list content start -->
    {% if not questions %}
    {% if q %}
    <div class="noResultBox">
        <img src="{% static 'img/question/error.png' %}">
        <h2 class="noResultText" style="padding-top:24px;">검색결과가 없습니다.</h2>
        <h2 class="noResultText">다른 검색어로 검색해 보세요!</h2>
    </div>
    {% else %}
    <div style="height: 500px;display:flex; justify-content:center;align-items:center;">
        <h2 style="font-family: Noto Sans;font-weight: 700;color: #686868;">아직 질문이 없습니다.</h2>
    </div>
    {% endif %}
    {% else %}
    <div>
        <ul>
            <li class="listHead">
                <div class="nullCell"></div>
                <div class="idCell">번호</div>
                <div class="titleCell">제목</div>
                <div class="authorCell" style="background: none;">작성자</div>
                <div class="answerCountCell">답변 수</div>
                <div class="createdCell" style="background: none;">작성일</div>
                <div class="nullCell"></div>
            </li>
        </ul>
        <div class="listContent">
            {% for question in questions %}
            {% if question.is_active %}
            <ul class="listRow">
                <div class="nullCell cellBox"></div>
                <div class="idCell cellBox">
                    <span>{{ questions.paginator.count|sub:questions.start_index|sub:forloop.counter0|add:1 }}</span>
                </div>
                <div class="titleCell cellBox">
                    <p class="qTitle">
                        <img src="{% static 'img/question/questionMark.png' %}" width="43px" height="43px">
                        <a href="{% url 'question:detail' question.id %}" style="color:#575757;">{{ question.title }}</a>
                    </p>
                    <p class="qContent">{{question.content}}</p>
                </div>
                <div class="authorCell cellBox"><span>{{ question.author.nickname }}</span></div>
                <div class="answerCountCell cellBox">
                    <span>{% if question.answer.count != 0 %}{{ question.answer.count }}</span>{% endif %}</div>
                <div class="createdCell cellBox"><span>{{ question.created|date:"y.m.d" }}</span></div>
                <div class="nullCell cellBox"></div>
            </ul>
            {% else %}
            <ul class="listRow">
                <div class="nullCell cellBox" style="height: 70px;"></div>
                <div class="idCell cellBox" style="height: 70px;">
                    <span>{{ questions.paginator.count|sub:questions.start_index|sub:forloop.counter0|add:1 }}</span>
                </div>
                <div class="titleCell cellBox" style="height: 70px;">
                    <p class="qTitle">
                        <img src="{% static 'img/question/questionMark.png' %}" width="33px" height="33px">
                        <a href="#"
                            style="font-family: Noto Sans;font-weight: 600;font-size: 15px;line-height: 181.2%;color: #FF2E00;">
                            관리자에 의해 규제된 답변입니다.
                        </a>
                    </p>
                </div>
                <div class="authorCell cellBox" style="height: 70px;"></div>
                <div class="answerCountCell cellBox" style="height: 70px;">
                    <span>{% if question.answer.count != 0 %}{{ question.answer.count }}</span>{% endif %}</div>
                <div class="createdCell cellBox" style="height: 70px;"><span>{{ question.created|date:"y.m.d" }}</span>
                </div>
                <div class="nullCell cellBox" style="height: 70px;"></div>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- listContent end -->

    {% if questions %}
    <!-- pagination start -->
    <ul class="pagination justify-content-center" style="margin:150px 0 270px;">
        {% if questions.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ questions.previous_page_number }}" href="#">
                <img src="{% static 'img/question/previousButton.png' %}">
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img
                    src="{% static 'img/question/previousButton.png' %}"></a>
        </li>
        {% endif %}
        {% for page_number in questions.paginator.page_range %}
        {% if page_number >= questions.number|add:-2 and page_number <= questions.number|add:2 %}
        {% if page_number == questions.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if questions.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ questions.next_page_number }}" href="#">
                <img src="{% static 'img/question/nextButton.png' %}"></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img
                    src="{% static 'img/question/nextButton.png' %}"></a>
        </li>
        {% endif %}
    </ul>
    <!-- pagination end -->
    {% endif %}
</div>
<script type='text/javascript'>
    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $(".searchBarBox").submit();
        });

        $("#searchBtn").on('click', function () {
            $("#q").val($(".q").val());
            $("#page").val(1);
            $(".searchBarBox").submit();
        });
    });
</script>
{% include 'footer.html' %}

{% endblock %}
