{% extends 'base.html' %}
{% load static %}
{% block content %}


</div>
    <div style="height:200px;">
    </div>
    <div style="">
        질문
    </div>
    <a href="{% url 'question:create_question' %}">질문하기</a>

    <div style="">
        {% if question %}
            {% for item in question %}
                <a href="{% url 'question:detail' item.id %}">
                    <p> {{ item.title }}</p>
                    <p> {{ item.author }}</p>
                    <p> {{ item.updated }}</p>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}