{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div style="height:200px;">
        </div>
        <div style="">
            <p>{{ question.title }}</p>
            <p>{{ question.author }}</p>
            <p>{{ question.updated }}</p>
            <p>{{ question.content }}</p>
        </div>
        <a href='{% url "question:create_answer" question.id %}'>답변하기</button>
        <button>수정</button>
        <button>삭제</button>
        <hr>
        {% if answer %}
            {% for item in answer %}
                    <div>
                        <p>{{ item.author }}님의 답변</p>
                        <p>{{ item.updated }}</p>
                        <p>{{ item.content }}</p>
                        <button>채택하기</button>
                        <button>도움이 됐어요</button>
                        <button>신고</button>
                    </div>
            {% endfor %}
        {% endif %}
        </div>
{% endblock %}