{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/question/question.css' %}">
<script type="text/javascript" src="{% static 'js/question/question.js' %}"></script>

<div id="navBarBox" style="height: 130px;">
    {% include 'nav.html' %}
</div>

<div class="questionListBox">
    <form class="searchBarBox" action="{% url 'question:search' %}" method="POST">
        {% csrf_token %}
        <input class="searchBar" placeholder="질문을 검색해 보세요!" name="q" value="{{q}}">
        <button type="submit" class=""><img src="{% static 'img/question/searchButton.png' %}" width="23.32px" height="23.32px"></button>
    </form>
    
    <h2 class="my-5 text-center font-weight-bold">검색결과</h2>
    {% if not questions %}
    
    <h3 class="mt-5 text-center">'{{ q }}'에 대한 검색 결과가 없습니다</h3>
    
    {% else %}
        {% for item in questions %}
        <a href="{% url 'question:detail' item.id %}">
            <p> {{ item.title }}</p>
            <p> {{ item.author }}</p>
            <p> {{ item.updated }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
