#wrapper {
    height: 324px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
}
#infoContainer{
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 63px;
}
#infoContainer a {
    padding-right: 9px;
    color: #FFFFFF;
}
#businessContainer {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #757575;
}
