{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}">
<div id="navBarBox">
    {% include 'nav.html' %}
</div>
<div style="padding:0 50px; padding-top:50px;">
    <div class="d-flex flex-column align-items-center my-5">
        <form action="{% url 'mypage:update_myInfo' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="formBox">
                <div class="profileBox" style="margin-bottom: 61px;">
                    <img id="profileImage" src="{{MEDIA_URL}}{{user.profile}}" alt="profile image"/>
                    <input type="file" name="profile" accept="image/*" id="id_profile">
                    <label class="uploadButton" for="id_profile">이미지 업로드</label>
                    <!-- <a href="#" class="deleteButton">삭제</a> -->
                </div>

                <div class="formField" style="margin-bottom: 50px;">
                    <p class="registerInput">{{user.email}} (변경불가)</p>
                </div>
                <input type="email" name="email" class="registerInput" value="{{user.email}}" style="display: none;">

                <div class="formField" {% if form.nickname.errors %} style="border: 2px solid #FF5C00;" {% endif %}>
                    <input type="text" name="nickname" class="registerInput" placeholder="닉네임(중복 금지)" required maxlength="20" id="id_nickname" value="{{ user.nickname }}">
                </div>
                <div class="errorMsg">
                    {% if form.nickname.errors %}
                    <img src="{% static 'img/account/loginErrorImage.png' .png' %}" width="16.67px" height="16.67px" style="margin-right: 11.67px;">
                    {{ form.nickname.errors }}
                    {% endif %}
                </div>

                <div class="passwordBox formField" {% if form.password1.errors %} style="border: 2px solid #FF5C00;" {% endif %}>
                    <input type="password" name="password1" class="registerInput" placeholder="비밀번호(8자리 이상)" required>
                    <img src="{% static 'img/account/eye.png' %}" class="showHideToggle">
                </div>
                <div class="errorMsg">
                    {% if form.password1.errors %}
                    <img src="{% static 'img/account/loginErrorImage.png' %}" width="16.67px" height="16.67px" style="margin-right: 11.67px;">
                    {{ form.password1.errors }}
                    {% endif %}
                </div>

                <div class="passwordBox formField" {% if form.password2.errors %} style="border: 2px solid #FF5C00;" {% endif %}>
                    <input type="password" name="password2" class="registerInput" placeholder="비밀번호 확인" required>
                    <img src="{% static 'img/account/eye.png' %}" class="showHideToggle">
                </div>
                <div class="errorMsg">
                    {% if form.password2.errors %}
                    <img src="{% static 'img/account/loginErrorImage.png' %}" width="16.67px" height="16.67px" style="margin-right: 11.67px;">
                    {{ form.password2.errors }}
                    {% endif %}
                </div>

                <div class="formField" style="margin: 80px 0 33px;">
                    <select required name="petkind" class="registerInput" maxlength="4" id="id_petkind" required>
                        <option {% if user.petkind == 'DOG' %}selected{% endif %} value="DOG">개</option>
                        <option {% if user.petkind == 'CAT' %}selected{% endif %} value="CAT">고양이</option>
                        <option {% if user.petkind == 'RAB' %}selected{% endif %} value="RAB">토끼</option>
                        <option {% if user.petkind == 'BIRD' %}selected{% endif %} value="BIRD">새</option>
                        <option {% if user.petkind == 'FISH' %}selected{% endif %} value="FISH">물고기</option>
                        <option {% if user.petkind == 'HAM' %}selected{% endif %} value="HAM">햄스터</option>
                        <option {% if user.petkind == 'ETC' %}selected{% endif %} value="ETC">기타</option>
                        <option {% if user.petkind == 'NONE' %}selected{% endif %} value="NONE">없음</option>
                    </select>
                </div>
                <div class="formField" id="petnameField">
                    <input type="text" name="petname" class="registerInput" placeholder="반려동물 이름" required="" maxlength="20" id="id_petname" value="{{ user.petname}}">
                </div>
            </div>
            <div class="updateOptionBox" style="margin: 140px 0 270px;">
                <button class="submitButton" type="submit">수정하기</button>
                <a class="cancelButton" href="{% url 'mypage:detail_myInfo' %}">취소</a>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html' %}
<script>
$(document).ready(function(){
    if($("#id_petkind").val() == "NONE") {
            $("#petnameField").css('display', 'none');
        }  else {
            $("#petnameField").css('display', 'block');
    }
    // 이미지 추가
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profileImage').prop('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_profile").change(function(){
        readURL(this);
    });
    $(".deleteButton").click(function(event) {
        let $input = $("#id_profile")
        let $profileImage = $("#profileImage")
        resetInputFile($input, $profileImage);
    });
    // 비밀번호 보기 숨기기
    $('.showHideToggle').click(function(){
        $(this).prev().toggleClass('active');
        if($(this).prev().hasClass('active')){
            $(this).prev().attr('type',"text");
        }else{
            $(this).prev().attr('type','password');
        }
    });
    $("#id_petkind").change(function() {
        if($("#id_petkind").val() == "NONE") {
            $("#petnameField").css('display', 'none');
        }  else {
            $("#petnameField").css('display', 'block');
        }
    });
});
</script>
{% endblock %}
