{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/recipe_create.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/footer/Terms_of_service.css' %}"/>
<div style="padding: 0 200px; overflow:hidden;width: 100%;height: 420px;background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
    <div id="title" style="">
        <p>집사의 레시피</p>
        <p>개인정보 처리방침</p>
    </div>
</div>
<div style="width:100%; margin: 0 auto;">
   <textarea id="textarea_box" style="margin: 99px auto;">
집사의 레시피(이하 "집사의 레시피")는 인터넷 관련 서비스(이하 서비스) 제공과 관련하여 습득한 회원들의 개인정보를 취급함에 있어서 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법, 전기통신사업법, 통신비밀보호법 등 개인정보와 관련된 국내의 법령 및 지침을 준수하여 회원님들의 개인정보 보호에 최선을 다하고 있습니다.

이하에서 “집사의 레시피”가 수집하는 개인정보 항목, 그 정보의 수집방식, 수집된 정보의 이용목적 및 정보의 보유기간 등에 관하여 회원님들의 개인정보를 “집사의 레시피”가 어떻게 취급하는지와 개인정보의 보호를 위하여 “집사의 레시피”가 어떠한 조치를 취하고 있는지 알려드리고자 합니다.

1. 수집하는 개인정보 항목과 수집방법
가. 수집대상 개인정보
“집사의 레시피”는 이용자의 신분 및 서비스 이용의사를 확인하고 맞춤서비스를 제공하기 위하여 개인정보를 수집합니다. “집사의 레시피”는 최초 회원가입시와 서비스 이용 시 필요한 범위에서 최소한으로 개인정보를 수집하고 있고 이용자의 사상, 신념, 가족 및 친인척관계, 학력(學歷)·병력(病歷), 기타 사회활동 경력 등 개인의 권리·이익이나 사생활을 뚜렷하게 침해할 우려가 있는 개인정보는 수집하지 않습니다. 이용자는 회원가입을 하지 않아도 웹사이트를 통하여 비회원용 서비스를 이용할 수 있습니다. 다만, 스마트폰 애플리케이션을 통한 서비스는 회원에 한하여 이용 가능합니다.
(1) 회원 가입 시에 이용자의 신분과 이용의사를 확인하고 각종 서비스 정보 및 고지사항을 안내하기 위하여 필수정보로서 이메일 주소, 비밀번호를 수집합니다. 또한 SNS계정을 통한 가입시 닉네임, 연령대, 성별, SNS 계정 정보를 수집합니다. 그리고 회원이 만 14세 미만자에 해당하는지에 대한 정보와 만약 이에 해당하는 경우에는 법정대리인의 동의를 위하여 법정대리인의 이름, DI, 휴대폰번호(모바일 인증 시)를 추가로 수집합니다.
(2) 회원에게 맞춤화 된 서비스를 제공하고 서비스를 개선하기 위하여 선택정보로서 닉네임, SNS 계정정보, 반려동물의 정보를 수집합니다.
(3) 서비스 이용 시 상품구입, 이벤트 응모 및 경품 신청 등의 과정에서 개별 동의를 얻은 후 물품배송, 대금결제 등을 위하여 휴대전화번호, 배송주소, 신용카드 정보 등이 수집될 수 있습니다.
(4) 서비스 이용과정이나 사업처리과정에서 부정한 이용 방지 및 서비스 개선 등을 위하여 접속로그, 쿠키, IP주소, 불량이용 기록 등의 서비스 이용기록과 이용기기정보가 자동으로 생성되어 수집될 수 있습니다.

나. 개인정보의 수집방법
(i) 회원가입시 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우, (ii) 이메일, 전화, 팩스 등을 통한 고객상담 및 (iii) 온∙오프라인 상의 이벤트를 위한 정보입력의 과정에서 개인정보가 수집될 수 있습니다.
또한 (iv) 제휴사로부터 개인정보를 제공받을 수 있고 제휴사는 이용자에게 개인정보 제공에 대한 동의를 받은 후에 제공합니다.
(v) 접속로그 등의 서비스 이용기록과 기기정보는 이용과정에서 자동으로 생성∙수집될 수 있습니다.

2. 개인정보 수집 및 이용목적
“집사의 레시피”가 처리하고 있는 개인정보는 아래의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 이용자의 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
회원의 개인정보를 수집∙이용하는 목적은 아래와 같습니다.

가. 홈페이지 회원가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 불량회원의 부정이용 방지와 비인가 사용 방지, 고객상담, 고객불만 접수 및 처리, 분쟁조정을 위한 기록보존,  고지사항 전달 등을 목적으로 개인정보를 처리합니다.

나. 재화 또는 서비스 제공
콘텐츠 제공, 이용자 맞춤 서비스 제공, 상품구매 시 본인인증 및 결제와 상품배송, 이벤트/경품당첨 결과안내 및 물품배송 등을 목적으로 개인정보를 처리합니다

다. 마케팅 및 광고에의 활용
인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 웹페이지 접속 빈도 파악 및 서비스 이용에 대한 통계, 고객 관심사에 부합하는 웹서비스 및 이벤트 기획, 이벤트 정보 및 참여기회 제공, 광고성 정보 제공, 고객설문조사 등을 목적으로 개인정보를 처리합니다.

3. 개인정보의 제3자 제공 및 위탁

가. 개인정보의 제3자 제공
“집사의 레시피”는 이용자의 개인정보를 제2조에 명시한 목적 범위 안에서만 사용하며, 예외적으로 이용자의 명시적 동의가 있거나 법률의 특별한 규정이 있는 경우 및 이용자의 생명∙안전에 급박한 위험이 발생하여 이를 해소하기 위한 경우에 한하여 개인정보를 제3자에게 제공합니다.
법률에 의한 개인정보의 제공의 예로서 형사소송법 상 범죄수사 및 재판을 위한 압수수색, 통신비밀보호법 상 통신사실확인자료 제공 등이 있습니다.
“집사의 레시피”는 물품구매 중개서비스의 제공을 위하여 구매회원들에게 아래와 같이 개별동의를 얻은 후 각 판매자에게 개인정보를 제공할 수 있습니다.
-목적: 판매자와 구매자의 거래의 원활한 진행, 본인 의사의 확인, 고객상담 및 불만처리, 상품과 경품배송을 위한 배송지 확인 등
-항목: 이름, 이메일주소(ID), 휴대폰번호, 상품 구매정보, 수취인정보(이름, 주소, 전화번호)
-보유기간: 배송완료 후 30일 및 관계법령에 의한 기간
이용자는 개인정보의 제3자 제공에 대하여 동의를 하지 않을 수 있고, 언제든지 제3자 제공 동의를 철회할 수 있습니다. 단, 제 3자 제공에 기반한 관련 서비스의 이용이 제한될 수 있습니다.

나. 개인정보의 위탁
“집사의 레시피”는 원활한 서비스 제공을 위하여 필요한 업무 중 일부를 외부 업체에 위탁할 수 있습니다. 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있고, 위탁 처리하는 정보는 필요 최소한의 정보에 한합니다.

4. 개인정보의 보유 및 이용기간
가. 개인정보 보유기간
“집사의 레시피”는 회원가입 시부터 서비스를 제공받는 기간 동안에 회원의 개인정보를 보유 및 이용하고, 개인정보의 수집 및 이용목적이 달성된 후에는 해당 개인정보를 지체없이 파기합니다. 회원 탈퇴 시 원칙적으로 수집된 개인의 정보가 열람 또는 이용될 수 없도록 파기 처리됩니다.
다만, 부정가입 및 제재기록 등 부정이용기록은 부정가입 및 이용 방지를 위하여 수집시점으로부터 6개월 간 보관한 후 파기하고 있습니다.

나. 법령에 따른 보존의무가 인정되는 경우
관계 법령에 의하여 개인정보의 보존 필요성이 인정되는 경우에는 이용목적 달성 후에도 일정기간 보존합니다. 법령 상 일정기간 보존의무가 부과된 경우는 다음과 같습니다.
- 전자상거래 등에서 소비자 보호에 관한 법률 제6조 및 시행령 제6조
계약 또는 청약철회 등에 관한 기록 : 5년
대금결제 및 재화 등의 공급에 관한 기록 : 5년
소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
표시ㆍ광고에 관한 기록 : 6개월
- 신용정보의 이용 및 보호에 관한 법률 제20조 제2항
신용정보의 수집, 처리 및 이용 등에 관한 기록 : 3년
- 전자금융거래법 제22조 제1항 및 시행령 제12조 제1항
전자금융에 관한 기록 : 3년
- 통신비밀보호법 제15조의2 및 시행령 제41조 제2항 제2호
로그인 기록 : 3개월

5. 개인정보의 파기 절차 및 방법
가. 파기절차
회원탈퇴, 서비스 종료, 이용자에게 동의받은 개인정보 보유기간의 도과와 같이 개인정보의 수집 및 이용목적이 달성된 개인정보는 목적이 달성된 후 별도의 데이터베이스로 옮겨져 일정 기간 저장된 후 파기됩니다.
법령에서 보존의무를 부과한 정보에 대해서도 해당 기간 경과 후 지체없이 파기합니다.

나. 파기방법
전자적 파일 형태의 경우 복구 및 재생이 불가능하도록 기술적인 방법을 이용하여 안전하게 삭제하며, 출력물 등은 분쇄하거나 소각하는 방식 등으로 파기합니다.

6. 이용자 및 법정대리인의 권리와 그 행사방법
가. 동의의 철회
이용자(만 14세 미만의 아동인 경우엔 법정대리인)는 “집사의 레시피”에 대하여 언제든지 개인정보 수집·이용·제공 등의 동의를 철회할 수 있습니다. 이 경우 “집사의 레시피”는 지체없이 그 이용자의 개인정보를 파기합니다.

나. 개인정보의 열람∙제공 요구
이용자(만 14세 미만의 아동인 경우엔 법정대리인)는 “집사의 레시피”에 대하여 본인에 관한 개인정보, “집사의 레시피”의 개인정보 이용내역 및 제3자 제공현황, 개인정보 수집∙이용에 동의를 한 현황 등에 대하여 열람이나 제공을 요구할 수 있고, 해당 요구는 요구사항을 명시한 서면을 제출하는 방법에 의하여야 합니다.
“집사의 레시피”가 그에 따라 열람을 요구받으면 10일 이내에 열람을 하게 하여야 합니다. 다만 다음 각 호의 어느 하나에 해당하는 경우 “집사의 레시피”는 정보주체에게 그 사유를 알리고 열람을 제한하거나 거절할 수 있습니다.
- 법률에 따라 열람이 금지되거나 제한되는 경우
- 다른 사람의 생명,신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우

다. 개인정보의 정정∙삭제
이용자(만 14세 미만의 아동인 경우엔 법정대리인)는 자신에 관한 정보에 오류가 있는 경우에는 “집사의 레시피”에 대하여 그 정정을 요구할 수 있고, 수집∙이용 동의의 범위나 법령에서 허용하는 범위를 넘은 정보 등에 대하여는 그 삭제를 요구할 수 있습니다. 해당 요구는 요구사항을 명시한 서면을 제출하는 방법에 의하여야 합니다.
“집사의 레시피”는 오류의 정정 또는 삭제를 요구받으면 10일 이내에 그 오류를 정정하거나 정보를 삭제합니다. 만약 그에 응하지 않는 경우 그 사유를 이용자에게 알리는 등 필요한 조치를 하고, 필요한 조치를 할 때까지는 해당 개인정보를 이용하거나 제공하지 않습니다. 다만, 다른 법률에 따라 개인정보의 제공을 요청받은 경우에는 그 개인정보를 제공하거나 이용할 수 있습니다.

7. 개인정보 자동수집장치의 설치∙운영 및 그 거부에 관한 사항
가. 쿠키의 설치∙운영과 그 목적
“집사의 레시피”는 웹사이트 이용자들의 접속정보를 저장하고 있는 쿠키를 사용합니다. 쿠키란 이용자가 방문한 웹사이트에서 이용자의 브라우저에 전송되는 작은 텍스트 조각으로서 이용자의 컴퓨터 보조기억장치(하드디스크, SSD 등)에 저장되고 있습니다. 쿠키는 사용자가 선호하는 언어 및 기타 설정 등 사용자의 방문 관련 정보를 웹사이트가 기억할 수 있도록 도와줍니다. 쿠키를 통해서 이용자가 기존에 이용했던 설정을 유지하여 편리한 서비스 제공이 가능합니다. 또한 방문한 웹사이트의 접속정보 및 이용양상 등을 분석함으로써 이용자 맞춤 서비스가 가능하도록 합니다.

나. 쿠키의 이용 거부
이용자는 쿠키에 대한 선택권을 가지고 있습니다. 즉, 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 사용을 거부할 수도 있습니다.
구체적인 쿠키 사용 거부 방법은 아래와 같습니다.
- Internet Explore의 경우 : 브라우저 상단 ‘도구’ 메뉴 > ‘인터넷 옵션’ 메뉴 > ‘개인정보’ 탭 > 설정 변경
- Chrome의 경우 : 브라우저 상단 ‘편집’ 메뉴 > ‘설정’ > 하단의 ‘고급 설정 표시’ > ‘개인정보’ 부분의 ‘콘텐츠 설정’ > 쿠키 변경
다만 쿠키의 저장을 거부하는 경우, 로그인이 필요한 “집사의 레시피”의 일부 서비스의 이용에 어려움이 있을 수 있습니다.

8. 개인정보의 안전성 확보조치
“집사의 레시피”는 이용자의 개인정보의 안전성 확보를 위하여 다음과 같은 조치를 취하고 있습니다.
- 관리적 조치: 개인정보취급자의 최소화, 직원 교육
- 기술적 조치: 시스템 접근권한 관리, 고유식별정보 등의 암호화, 보안프로그램 설치

9. 개인정보관리책임자
“집사의 레시피”는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 고객서비스 담당부서 및 개인정보관리책임자를 지정하고 있습니다. 회원님의 개인정보와 관련한 문의사항은 아래의 개인정보 관리책임자 또는 관리담당자에게 연락하여 주시기 바랍니다.
- 개인정보 관리책임·담당자: 최지윤
연락처: 이메일 spaceofjane@gmail.com / 전 화 010-9265-6874
기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
- 개인정보침해신고센터 (privacy.kisa.or.kr / 국번없이 118)
- 대검찰청 사이버수사과 (www.spo.go.kr / 국번없이 1301)
- 경찰청 사이버안전국 (www.ctrc.go.kr / 국번없이 182)

10. 본 개인정보취급방침의 적용 범위
본 개인정보취급방침은 “집사의 레시피” 서비스에 적용되며, “집사의 레시피”의 다른 서비스에 대해서는 별개의 개인정보취급방침이 적용될 수 있습니다.
“집사의 레시피” 홈페이지에 링크되어 있는 다른 “집사의 레시피”의 웹사이트에서 개인정보를 수집하는 경우, 이용자 동의 하에 그 다른 “집사의 레시피”에 개인정보가 제공된 이후에는 본 개인정보취급방침이 적용되지 않습니다.

11. 방침의 개정과 사전 고지
본 개인정보 취급방침은 관련 법령 및 지침의 변경이 있거나 보다 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있습니다. 회원님들은 그 내용을 확인하여 주시기 바라며, “집사의 레시피”가 개인정보 취급방침을 개정하는 경우 최소 시행일 7일 전에 인터넷 홈페이지를 통하여 공지할 것입니다.
그 변경된 방침에 대하여 동의하지 않는 회원님들은 언제든지 회원탈퇴를 통하여 개인정보 수집 및 이용에 대한 동의를 철회하실 수 있습니다.

[부 칙]
공고일자 : 2020년 11월 29일
시행일자 : 2020년 11월 29일

   </textarea>
</div>

{% endblock %}
