{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/recipe/recipe_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/review/review_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/question/question.css' %}">
<script type="text/javascript" src="{% static 'js/recipe/recipe_detail.js' %}"></script>

<div style="padding: 0 145px; width: 100%; height: 150px;background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
</div>
{% if user == review.author %}
<div style="height:65px;">
    <div id="box">
        <a onclick = "location.href='{% url 'review:edit_review' review_id=review.id %}'" style="color: #FFFFFF; cursor:pointer;">수정</a>
        <span style="margin:0 10px;">  | </span>
        <a href="{% url 'review:delete_review' review_id=review.id %}" style="color: #FFFFFF; cursor:pointer;" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmModal" id="deleteButton{{question.id}}">삭제</a>
    </div>
</div>
{% endif %}
<div style="margin: 0 auto; width:100%;">
    <div style="margin-top:30px; margin-left:219px;">
        <div style="overflow:hidden;">
            <div class="image_list"  style="width: 700px; height: 426px; float:left;">
                {% if img_list %}
                {% for img in img_list %}
                <div class="image">
                    <img class="img_style" src="{{ img.image.url }}" class="card-img-top" alt="사진">
                </div>
                {% endfor %}
                {% else %}
                <p class="image noImage" style="height:426px;text-align:center;padding-top:200px;">이미지가 없습니다</p>
                {% endif %}
            </div>
            <div style="width:62px; float:right; margin-right:218px; margin-top:174px;">
                <a href="{% url 'review:like_review' review.id %}" style="margin-left:5px;">
                    {% if click_like == 0 %}
                    <img style="width: 61.16px; height: 61.16px;" src="{% static 'img/recipe/recipe_detail/good1.png' %}" class="card-img-top" alt="사진">
                    {% else %}
                    <img style="width: 61.16px; height: 61.16px;" src="{% static 'img/recipe/recipe_detail/good_color.png' %}" class="card-img-top" alt="사진">
                    {% endif %}
                </a>
                <div style="float:left; text-align:center;">
                    <button type="button" style=" border: 0px; outline:0px;" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <img style="width: 61.16px; height: 61.16px;" src="{% static 'img/recipe/recipe_detail/contact1.png' %}" class="card-img-top" alt="사진">
                    </button>
                </div>
                {% include 'contact\modal2.html' %}
            </div>
        </div>
        <div style="margin-top:60px;">
            <div>
                <p class="star" style="float:left; margin-right:16px; margin-top:8px;"> ★   {{ review.star }}.0</p>
                <p id="title" style="word-break: break-all; width:70%; height:30%;">{{ review.title }}</p>
            </div>
            <div style="overflow:hidden; margin-top:40px;">
                <img class="user_img" src="{{ review.author.profile.url }}">
                <p class="user_info">{{ review.recipe.author.nickname }} 의 후기  |  작성일 : {{ review.updated }}</p>
                <p class="count">
                    조회수 {{ review.hits }}   공감 {{ review.like.all.count }}
                </p>
            </div>
        </div>
        <div style="overflow:hidden; margin-top:58px;">
            <p id="animal">{{ review.recipe.animal }}</p>
            <p id="cook_time">{{ review.recipe.cooking_time }}</p>
            <p id="cook_level" >{{ review.recipe.level }}</p>
        </div>

        <textarea readonly id="summary" style=" border: 0px; word-break: break-all; width:70%; height:400px;">" {{ review.content }} "</textarea>
    </div>

    <div class="goto_recipe" style=" cursor: pointer; margin-left:219px; margin-top:73px; margin-bottom:25px;" onclick = "location.href='{% url 'recipe:detail_recipe' recipe_id=review.recipe.id %}'">
        레시피 보기
        <img src="{% static 'img/review/review_detail/goto_recipe.png' %}"/>
    </div>
    <div style=" margin-top:106px; width: 100%; height: 338px;text-align:center;line-height:338px;background: #FFDADA;">
    ===========광고============
    </div>
</div>

<div id="confirmModal" class="modal fade modal-center" style="" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-center" role="document" style="height:314px;">
        <div class="modal-content modal-center" style="width:100%; height:100%; text-align:center;">
            <div class="modal-body modal-center">
                <p></p>
                <div style="text-align:center;">
                    <button data-dismiss="modal" id="confirmButtonModal" class="submitButton"
                        style="display:block; width:179px;height:55px;border-radius: 18px; float:left;">삭제</button>
                    <button type="button" class="cancelButton" data-dismiss="modal"
                        style="display:block; float:left; min-width:179px;height:55px;box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);border-radius: 18px;">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $(document).on('click', '.confirm-delete', function () {
    $("#confirmModal").attr("caller-id", $(this).attr("id"));
    $("#confirmModal").find(".submitButton").css({"background": "#FF5C00", "box-shadow": "6px 6px 30px rgba(0, 0, 0, 0.1)"});
    $("#confirmModal").find("p").text("정말 삭제 하시겠어요?");
    $("#confirmModal").find(".submitButton").text("삭제");
    });
    $(document).on('click', '#confirmButtonModal', function () {
    var caller = $("#confirmButtonModal").closest(".modal").attr("caller-id");
    window.location = $("#".concat(caller)).attr("href");
    });
});
</script>
{% endblock %}
