{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/recipe_create.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/review/review_create.css' %}"/>
<script type="text/javascript" src="{% static 'js/review/review_create.js' %}"></script>
<div style="padding: 0 145px; overflow:hidden;width: 100%;height: 320px;background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
    <div id="title">
        <p>후기</p>
        <p>작성하기</p>
    </div>
</div>
<div style="margin: 0 auto; width:100%; margin-bottom:100px; padding: 0 180px;">
    <div style="margin-top:95px;">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <p class="font1">제목을 작성해주세요</p>
                <input maxlength="180" style="width: 636px; margin-top:30px;" class="input_box" type="text" name="title" placeholder="예시 ) 너무 쉽고 맛있는 황태국 (15자 이내)">
            </div>
            <div style="margin-top:120px;">
                <p class="font1">별점을 매겨주세요!</p>
                <div class="star" style="margin-top:30px;">
                    <div id="star_box">
                        <label id="star1" style="cursor:pointer;"><input style="display:none;" type="radio" name="star" value="1" autofocus="" ><img id="star_img1" src="{% static 'img/review/review_create/fill_star.png' %}"/><img id="empty1" style="display:none;" src="{% static 'img/review/review_create/empty_star.png' %}"/></label>
                        <label id="star2" style="cursor:pointer;"><input style="display:none;" type="radio" name="star" value="2"><img id="empty2" src="{% static 'img/review/review_create/empty_star.png' %}"/><img id="star_img2" style="display:none;" src="{% static 'img/review/review_create/fill_star.png' %}"/></label>
                        <label id="star3" style="cursor:pointer;"><input style="display:none;" type="radio" name="star" value="3"><img id="empty3" src="{% static 'img/review/review_create/empty_star.png' %}"/><img id="star_img3" style="display:none;" src="{% static 'img/review/review_create/fill_star.png' %}"/></label>
                        <label id="star4" style="cursor:pointer;"><input style="display:none;" type="radio" name="star" value="4"><img id="empty4" src="{% static 'img/review/review_create/empty_star.png' %}"/><img id="star_img4" style="display:none;" src="{% static 'img/review/review_create/fill_star.png' %}"/></label>
                        <label id="star5" style="cursor:pointer;"><input style="display:none;" type="radio" name="star" value="5"><img id="empty5" src="{% static 'img/review/review_create/empty_star.png' %}"/><img id="star_img5" style="display:none;" src="{% static 'img/review/review_create/fill_star.png' %}"/></label>
                    </div>
                </div>
            </div>
            <div style="margin-top:120px;">
                <p class="font1">후기를 작성해주세요!</p>
                <textarea maxlength="180" style="margin-top:30px; padding: 30px 50px; width: 645px; height: 320px; line-height: 32.62px;" class="input_box" name="content" placeholder="예시 ) 우리집 강아지 뽀미가 요즘 너무 더워서 그런지 힘이 없어서 도전해 본 황태국이에요!! 만들어 보니 너무 쉽고 맛있게 만들 수 있어서 공유해봅니다. (50자 이내)"></textarea>
            </div>
            <div style="margin-top:120px;" class="recipe_img">
                <p class="font1">완성된 요리의 대표 사진을 업로드 해주세요.</p>
                <div style="width: 70%; margin-top: 30px; ">
                    <div>
                        <label for="id_review_img-0-image"><img id="preview_id_review_img-0-image" class="img_show" src="{% static 'img/recipe/recipe_create/add_img.png' %}"/></label>
                        <label for="id_review_img-1-image"><img id="preview_id_review_img-1-image" class="img_show" src="{% static 'img/recipe/recipe_create/add_img.png' %}"/></label>
                        <label for="id_review_img-2-image"><img id="preview_id_review_img-2-image" class="img_show" src="{% static 'img/recipe/recipe_create/add_img.png' %}"/></label>
                            {{ image_formset.as_p }}
                    </div>
                </div>
            </div>
            <div style="overflow:hidden; padding-bottom:50px; margin-top:50px; ">
                <input id="finish" type="submit" value="작성완료" style="float:left;">
                <p id="back" style="cursor:pointer; float:left; margin-left:40px;" onclick = "location.href='{% url 'review:list_review' %}'">취소</p>
            </div>
         </form>
    </div>
</div>

{% endblock %}
