{% extends 'base.html' %}
{% load static %}
{% load questionFilter %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">
<script type="text/javascript" src="{% static 'js/recipe/recipe_list.js' %}"></script>

<div class="image_list">
    {% if best_review_dict %}
    {% for item, image in best_review_dict.items %}
        {% if image %}
        <div style="border-radius: 0px 0px 80px 80px; width: 100%; height: 550px; background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('{{ image }}'); background-size: 100%;">
            <div style="padding: 0 145px;">
                {% include 'nav.html' %}
            </div>
            <div class="hot_recipe" style="margin-bottom:15px;">이번주 Best 후기</div>
            <p class="hot_title" style="color:white;"> {{ item.title }}</p>
            <p class="hot_summary" style="color:white;"> {{ item.content }}</p>
        </div>
        {% else %}
            <div style="border-radius: 0px 0px 80px 80px; width: 100%; height: 550px; background: black; ">
                <div style="padding: 0 145px;">
                    {% include 'nav.html' %}
                </div>
                <div class="hot_recipe" style="margin-bottom:15px;">이번주 Best 후기</div>
                <p class="hot_title" style="color:white;"> {{ item.title }}</p>
                <p class="hot_summary" style="color:white;"> {{ item.summary }}</p>
            </div>
        {% endif %}
    {% endfor %}
    {% else %}
    <div style="border-radius: 0px 0px 80px 80px; width: 100%; height: 550px; background: black; ">
        <div style="padding: 0 145px;">
            {% include 'nav.html' %}
        </div>
    </div>
    {% endif %}
</div>

<div style="padding: 0 200px; overflow:auto; width:100%;">
    <!-- filter div -->
    <div style="display: flex;justify-content: space-between;margin:52px 0 40px">
        <div style="display: inline-block;width:100%;margin-right:30px;">
            <form class="searchBarBox" action="{% url 'review:list_review' %}" method="GET">
                {% csrf_token %}
                <input class="searchBar q" placeholder="후기를 검색해 보세요!" aria-label="Search" id="q" name="q"
                    value="{{q|default_if_none:''}}">
                <button id="searchBtn" type="submit">
                    <img width="23.32px" height="23.32px" src="{% static 'img/recipe/recipe_home/search.png' %}" />
                </button>
                <input type="hidden" id="petkind" name="petkind" value="{{ petkind }}">
                <input type="hidden" id="cooking_time" name="cooking_time" value="{{ cooking_time }}">
                <input type="hidden" id="order" name="order" value="{{ order }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">
            </form>
        </div>
        <div style="display:inline-block;width:100%;text-align:right;">
            <div class="selectBox">
                <select class="petkind">
                    <option value="all" {% if petkind == 'all' %} selected {% endif %}><span>모든 동물</span></option>
                    <option value="dog" {% if petkind == 'dog' %} selected {% endif %}><span>강아지</span></option>
                    <option value="cat" {% if petkind == 'cat' %} selected {% endif %}><span>고양이</span></option>
                    <option value="etc" {% if petkind == 'etc' %} selected {% endif %}><span>다른 동물</span></option>
                </select>
            </div>
            <div class="selectBox">
                <select class="cooking_time">
                    <option value="all" {% if cooking_time == 'all' %} selected {% endif %}><span>모든 시간</span>
                    </option>
                    <option value="under5" {% if cooking_time == 'under5' %} selected {% endif %}><span>5분 이내</span>
                    </option>
                    <option value="fiveTo10" {% if cooking_time == 'fiveTo10' %} selected {% endif %}><span>5분 -
                            10분</span></option>
                    <option value="tenTo20" {% if cooking_time == 'tenTo20' %} selected {% endif %}><span>10분 -
                            20분</span></option>
                    <option value="over20" {% if cooking_time == 'over20' %} selected {% endif %}><span>20분
                            이상</span></option>
                </select>
            </div>
            <div class="selectBox">
                <select class="order">
                    <option value="recent" {% if order == 'recent' %} selected {% endif %}><span>최신순</span></option>
                    <option value="like" {% if order == 'like' %} selected {% endif %}><span>공감 순</span></option>
                </select>
            </div>
        </div>
    </div>
</div>
    <!-- filter div end -->

    <!-- content div start -->
    <div style="padding: 0 200px; overflow:auto; width:100%;">
        {% if not reviews %}
        <div class="noResultBox">
            <img src="{% static 'img/question/error.png' %}">
            <h2 class="noResultText" style="padding-top:24px;">아직 후기가 없습니다.</h2>
            <h2 class="noResultText">직접 작성해주세요!</h2>
        </div>
        {% else %}
            {% for item in reviews %}
                <div class="recipe_size" onclick = "location.href='{% url 'review:detail_review' review_id=item.0.id %}'" >
                    {% if item.1 %}
                        <img class="recipe_img" src="{{ item.1 }}" class="card-img-top" alt="사진">
                    {% else %}
                        <p class="recipe_img" style="text-align: center; padding-top:100px; font-family: Noto Sans; font-weight: bold;">이미지가 없습니다</p>
                    {% endif %}
                    <div style="padding: 0 22px;">
                        <p class="recipe_title">"{{ item.0.title_limit }}"</p>
                        <div>
                            <p style="float:left;width: 20px;height: 20px;margin-top:7px;border-radius: 27px; background: #C4C4C4;"><img class="user_img" src="{{ item.0.author.profile.url }}"></p>
                            <p class="recipe_id">{{ item.0.author.nickname }}</p>
                        </div>
                        <div style="margin-top:12px;">
                            <p class="recipe_animal" style="background: #FF8B00;">{{ item.0.recipe.animal }}</p>
                            <p class="recipe_time">{{ item.0.recipe.cooking_time }}</p>
                        </div>
                        <div style="margin-top:12px; float: right; width:30%;">
                            <p class="star" style="height: 20px; line-height: 20px; text-align:center; color: #FFFFFF; background: #1B1B1B; border-radius: 12.8413px; word-break : break-all; white-space: nowrap; overflow:hidden;"> ★   {{ item.0.star }}.0</p>
                        </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <!-- content div end -->
    </div>
    <div>
        <!-- pagination start -->
        {% if reviews %}
        <ul class="pagination justify-content-center" style="margin:150px 0 270px;">
            {% if reviews.has_previous %}
            <li class="page-item">
                <a class="page-link" data-page="{{ reviews.previous_page_number }}" href="#">
                    <img src="{% static 'img/question/previousButton.png' %}">
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img
                        src="{% static 'img/question/previousButton.png' %}"></a>
            </li>
            {% endif %}
            {% for page_number in reviews.paginator.page_range %}
            {% if page_number >= reviews.number|add:-2 and page_number <= reviews.number|add:2 %}
            {% if page_number == reviews.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if reviews.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ reviews.next_page_number }}" href="#">
                    <img src="{% static 'img/question/nextButton.png' %}"></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img
                        src="{% static 'img/question/nextButton.png' %}"></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <!-- pagination end -->
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
