<!DOCTYPE html>
    {% load static %}
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>
    </head>
    <body>
        <div class="image_list"  style="">
        <!--           이미지 오류 수정.. ㅠㅠ,,  -->
            {% for img in img_list %}
            <div class="image">
                <img style="width: 507px; height: 652px;" src="{{ img.image.url }}" class="card-img-top" alt="사진">
            </div>
            {% endfor %}
        </div>
        <div>
            <p>{{ recipe.animal }}를 위한</p>
            <p>{{ recipe.title }}</p>
            <p>조리시간 {{ recipe.cooking_time }}</p>
            <p>난이도 {{ recipe.level }} </p>
        </div>
        <div>
            <p>조회수 </p>
            <p>레시피 업로드 {{ recipe.updated }}</p>
            <p>공감수 </p>
        </div>
        <div>"{{ recipe.summary }} "</div>
        <div>
            집사 {{ recipe.author}}
        </div>
        <div>
            <p>재료</p>
            <p>{{ recipe.count }}끼 분량</p>
            {% for ingredient in ingredient_list %}
                <div>
                    <p>{{ ingredient.ingredient }}</p>
                    <p>{{ ingredient.amount }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            ===========광고============
        </div>
        <div>
            <p>요리법</p>
            {% for step in step_list %}
                <div>
                    <img src="{{ step.image.url }}" >
                    <p>{{ step.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            <button>도움이 됐어요</button>
            <button>스크랩</button>
            <button>신고</button>
            <button>수정</button>
        </div>
        <div>
            <p>후기</p>
            <p>총 ~~개의 후기가 있습니다. </p>
            <button>후기 작성하기</button>
            <div>

            </div>
        </div>
    </body>
</html>