{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">

<div id="top_div">
    {% include 'nav.html' %}
    <div id="hot_recipe">
        이번주 Hot 레시피
    </div>
    <!--    슬릭 들어가기~~   -->
</div>
<div style="margin: 0 auto; width:1920px;">
    <div style="margin-top:52px; overflow:hidden; position:relative; height:185px; padding-left:219px;">
        <form style="" class="form-inline my-2 my-lg-0" action="" method="POST">
            {% csrf_token %}
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="요리를 검색해 보세요!" aria-label="Search" name="query_str" value="{{query_str}}">
            <button id="search_btn" type="submit" style="position: absolute; right:905px; top: 9px; border: 0px solid white; background-color:white;">
                <img id="search_icon" src="{% static 'img/recipe/recipe_home/search.png' %}"/>
            </button>
            <div class="dropdown show" style="margin-left:33px;">
                <a id="dropdown_font1" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    반려 동물
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="more1">
                    <a class="dropdown-item" href="#">강아지</a>
                    <a class="dropdown-item" href="#">고양이</a>
                    <a class="dropdown-item" href="#">다른 동물</a>
                </div>
            </div>
            <div class="dropdown show" style="margin-left:15px;">
                <a id="dropdown_font2" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    조리 시간
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="more2">
                    <a class="dropdown-item" href="#">5분 이내</a>
                    <a class="dropdown-item" href="#">5분 - 10분</a>
                    <a class="dropdown-item" href="#">10분 - 20분</a>
                    <a class="dropdown-item" href="#">20분 이상</a>
                </div>
            </div>
            <div class="dropdown show" style="margin-left:15px;">
                <a id="dropdown_font3" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    정렬 방식
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="more3">
                    <a class="dropdown-item" href="#">최신순</a>
                    <a class="dropdown-item" href="#">후기 많은 순</a>
                    <a class="dropdown-item" href="#">공감 순</a>
                </div>
            </div>
        </form>
        <div id="create_recipe_css">
            <a href="{% url 'recipe:create_recipe' %}" style="color: #FFFFFF;">레시피 작성하기</a>
            <img style="margin-left:15px;" src="{% static 'img/recipe/recipe_list/recipe_write.png' %}"/>
        </div>
    </div>
    <div style="padding-left:221px; overflow:auto; width:2012px;">
            {% if recipes_dict %}
                {% for item, image in recipes_dict.items %}
                <div class="recipe_size" onclick = "location.href='{% url 'recipe:detail_recipe' recipe_id=item.id %}'">
                    <img class="recipe_img" src="{{ image }}" class="card-img-top" alt="사진">
                    <div style="padding-left:22px;">
                        <p class="recipe_title">{{ item.title }}</p>
                        <div>
                            <p style="float:left;width: 20px;height: 20px;margin-top:7px;border-radius: 27px; background: #C4C4C4;"></p>
                            <p class="recipe_id">{{ item.author.nickname }} 의 레시피</p>
                        </div>
                        <div style="margin-top:29px;">
                            <p class="recipe_animal">{{ item.animal }}</p>
                            <p class="recipe_time">{{ item.cooking_time }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
</div>


{% endblock %}

