{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/recipe_create.css' %}"/>
<script type="text/javascript" src="{% static 'js/recipe/recipe_create.js' %}"></script>
<script>
    $(document).ready(function(){
        var animal = "{{ now_recipe.animal }}";
        var cook_time = "{{ now_recipe.cooking_time }}";
        var level = "{{ now_recipe.level }}";

        var animal_num = 0;
        var cook_time_num = 0;
        var level_num = 0;

        if (animal == "강아지"){
            $("input:radio[name=animal]:radio[value=강아지]").prop('checked',true);
            animal_num = 0;
        } else if(animal == "모두"){
            $("input:radio[name=animal]:radio[value=모두]").prop('checked',true);
            animal_num = 1;
        } else if(animal == "고양이"){
            $("input:radio[name=animal]:radio[value=고양이]").prop('checked',true);
            animal_num = 2;
        }else{
            $("input:radio[name=animal]:radio[value=other]").prop('checked',true);
            animal_num = 3;
        }

        if (cook_time == "5분이내"){
            $("input:radio[name=cooking_time]:radio[value=5분이내]").prop('checked',true);
            cook_time_num = 0;
        }else if (cook_time == "5분_10분"){
            $("input:radio[name=cooking_time]:radio[value=5분_10분]").prop('checked',true);
            cook_time_num = 1;
        }else if (cook_time == "10분_20분"){
            $("input:radio[name=cooking_time]:radio[value=10분_20분]").prop('checked',true);
            cook_time_num = 2;
        }else if (cook_time == "20분이상"){
            $("input:radio[name=cooking_time]:radio[value=20분이상]").prop('checked',true);
            cook_time_num = 3;
        }

        if (level == "상"){
            $("input:radio[name=level]:radio[value=상]").prop('checked',true);
            level_num = 0;
        } else if(level == "중"){
            $("input:radio[name=level]:radio[value=중]").prop('checked',true);
            level_num = 1;
        } else if(level == "하"){
            $("input:radio[name=level]:radio[value=하]").prop('checked',true);
            level_num = 2;
        }

        $('.animal .radio_box').eq(animal_num).css("background-color", "#FF6B00");
        $('.animal .radio_box').eq(animal_num).css("color","#FFFFFF");
        $('.cook .radio_box').eq(cook_time_num).css("background-color", "#FF6B00");
        $('.cook .radio_box').eq(cook_time_num).css("color","#FFFFFF");
        $('.level .radio_box').eq(level_num).css("background-color", "#FF6B00");
        $('.level .radio_box').eq(level_num).css("color","#FFFFFF");

    })
</script>
<div style=" padding: 0 145px; overflow:hidden;width: 100%;height: 320px;background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
    <div id="title">
        <p>레시피</p>
        <p>수정하기</p>
    </div>
</div>
<div id="save">임시저장 글 | </div>
<div style="margin: 0 auto; width:100%; margin-bottom:100px; padding: 0 180px;">
    <div style="margin-top:95px;">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <p class="font1">레시피 제목을 정해보세요!</p>
                <input required maxlength="15" value="{{ now_recipe.title }}" style="width: 636px; margin-top:30px;" class="input_box" type="text" name="title" placeholder="예시 ) 너무 쉽고 맛있는 황태국 (15자 이내)">
            </div>
            <div style="margin-top:120px;">
                <p class="font1">어떤 반려동물을 위한 요리인가요?</p>
                <div class="animal" style="margin-top:30px;">
                    <label style="width: 120px; cursor:pointer;" class="radio_box">모두<input required style="display:none;" type="radio" name="animal" value="모두" autofocus="" ></label>
                    <label style="width: 120px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="animal" value="강아지"> 강아지</label>
                    <label style="width: 120px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="animal" value="고양이"> 고양이</label>
                    <label style="width: 538px; margin-left:30px; cursor:pointer; padding-left:60px; text-align:left;" class="radio_box"><input style="display:none;" type="radio" name="animal" value="other"> 기타 <input class="input_box" style="margin-left: 30px; box-shadow: none; width:380px; height:55px;" placeholder="반려동물을 작성해주세요.(한글, 쉼표만 가능)" type="text" name="other_animal"></label>
                </div>
            </div>
            <p class="font1" style=" margin-top:120px;">조리시간이 얼마나 걸리나요?</p>
            <div class="cook" style="margin-top:30px;">
                <label style="width: 140px; cursor:pointer;" class="radio_box"><input required style="display:none;" type="radio" name="cooking_time" value="5분이내" autofocus="" > 5분 이내 </label>
                <label style="width: 140px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="cooking_time" value="5분_10분"> 5분 - 10분 </label>
                <label style="width: 140px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="cooking_time" value="10분_20분"> 10분 - 20분 </label>
                <label style="width: 140px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="cooking_time" value="20분이상"> 20분 이상 </label>
            </div>
            <p class="font1" style="margin-top:120px;">조리 난이도</p>
            <div class="level" style="margin-top:30px;">
                <label style="width: 90px; cursor:pointer;" class="radio_box"><input required style="display:none;" type="radio" name="level" value="상" autofocus="" > 상 </label>
                <label style="width: 90px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="level" value="중"> 중 </label>
                <label style="width: 90px; margin-left:30px; cursor:pointer;" class="radio_box"><input style="display:none;" type="radio" name="level" value="하"> 하 </label>
            </div>

            <div style="margin-top:120px;">
                <p class="font1">레시피를 간단히 소개해주세요!</p>
                <textarea required maxlength="50" style="margin-top:30px; padding: 30px 50px; width: 645px; height: 320px; line-height: 32.62px;" class="input_box" name="summary" placeholder="예시 ) 우리집 강아지 뽀미가 요즘 너무 더워서 그런지 힘이 없어서 도전해 본 황태국이에요!! 만들어 보니 너무 쉽고 맛있게 만들 수 있어서 공유해봅니다. (50자 이내)">{{ now_recipe.summary }}</textarea>
            </div>
            <div style="margin-top:120px;" class="recipe_img">
                <p class="font1" style="margin-bottom:70px;">완성된 요리의 대표 사진을 업로드 해주세요.</p>
                <div style="overflow:hidden; width: 70%;">
                    {{ image_formset.as_p }}
                </div>
            </div>
            <div style="margin-top:120px;">
                <span class="font1">요리의 재료를 빠짐없이 입력해주세요.</span>
                <span>주의사항! 확인해주세요.</span>
                <div id="ingredient" style="overflow:hidden; width: 600px; margin-top:50px; padding-bottom:40px;">
                    {{ ingredient_formset }}
                </div>
                <div id="click_box" style="cursor:pointer;">
                    <img style="margin-top:13px; width:40px;" src="{% static 'img/recipe/recipe_create/add.png' %}"/>
                </div>
            </div>
            <div style="margin-top:120px;">
                <p class="font1" style="margin-bottom: 70px;">조리 방법을 순서대로 작성해보아요!</p>
                    {{ step_formset.as_p }}
            </div>

            <div id="add_block_btn" style="cursor:pointer;">
                <img style="" src="{% static 'img/recipe/recipe_create/add_block.png' %}"/>
            </div>
            <div style="overflow:hidden; margin-top:100px; padding-bottom:50px;">
                <input id="finish" type="submit" value="작성완료" style="float:left;">
                <p id="fake_save" style="cursor:pointer; float:left; margin-left:40px;"> 임시저장</p>
                <p id="back" style="cursor:pointer; float:left; margin-left:40px;" onclick = "location.href='{% url 'recipe:list_recipe' %}'">취소</p>
            </div>
         </form>
    </div>
</div>

{% endblock %}
