{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/recipe/recipe_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">
<script type="text/javascript" src="{% static 'js/contact/modal.js' %}"></script>

<div style=" padding: 0 7%; overflow:hidden;width: 100%; background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
</div>

<div id="receive_box" style="padding: 0 10%; margin: 50px 0; width: 100%;">
    <div style="overflow:hidden; height: 100px;">
        <p class="header_font">쪽지함</p>
        <button class="button1 send_mail_btn" onclick = "location.href='{% url 'contact:contact_showsearch' %}'" style="margin: 15px;float:right;">쪽지쓰기 <img src="{% static 'img/recipe/recipe_list/recipe_write.png' %}"/></button>
    </div>
    <div style="overflow:hidden; padding-top:10px; height:50px;">
        <button class="modal_font1 receive" style="float:left; color: #FF5C00; ">받은 쪽지함</button> <p style="margin-left:15px; line-height: 23%; margin-top:10px; float:left;"> | </p>
        <button class="modal_font1 send" style="float:left; margin-left:15px;"> 보낸 쪽지함</button>
        <button onclick = "location.href='{% url 'contact:contact_senddelete' %}'" class="modal_font2 all_delete" style="margin-top: 20px;float:right;">전체삭제</button>
    </div>
    <hr>
    <div style="height:361px; overflow:auto; padding:25px; padding-bottom: 50px;">
        {% if received_list %}
        {% for item in received_list %}
        <div class="summary_list" style="">
            <div onclick = "location.href='{% url 'contact:contact_detail' item.id %}'">
                <p class="summary" style="float:left;">{{ item.summary }}</p>
                <p class="nickname" style="float:left; margin-left:5%;">{{ item.sender.nickname }}</p>
                <p class="time" style="float:left; margin-left:5%;">{{ item.sentAt}}</p>
            </div>
            <img onclick = "location.href='{% url 'contact:contact_delete' item.id %}'" class="delete_img" style="" src="{% static 'img/contact/delete.png' %}"/>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    <p class="modal_font3">60일이 지난 쪽지는 자동으로 삭제됩니다.</p>
</div>

<div id="send_box" style="padding: 0 10%; margin: 50px 0; display:none; width: 100%;">
    <div style="overflow:hidden; height: 100px;">
        <p class="header_font" style="float:left; margin-top: 20px;">쪽지함</p>
        <button onclick = "location.href='{% url 'contact:contact_showsearch' %}'" class="button1 send_mail_btn" style="margin: 15px; float:right;">쪽지쓰기 <img src="{% static 'img/recipe/recipe_list/recipe_write.png' %}"/></button>
    </div>
    <div style="overflow:hidden; padding-top:10px; height:50px;">
        <button class="modal_font1 receive" style="float:left; pointer:cursor;">받은 쪽지함</button> <p style="margin-left:15px; line-height: 23%; margin-top:10px; float:left;"> | </p>
        <button class="modal_font1 send" style="float:left; margin-left:15px;color: #FF5C00; pointer:cursor;"> 보낸 쪽지함</button>
        <button onclick = "location.href='{% url 'contact:contact_receiveddelete' %}'" class="modal_font2 all_delete" style="margin-top: 20px;float:right; pointer:cursor;">전체삭제</button>
    </div>
    <hr>
    <div style="height:361px; overflow:auto; padding:25px; padding-bottom: 50px;">
        {% if send_list  %}
        {% for item in send_list %}
        <div class="summary_list" style="">
            <div onclick = "location.href='{% url 'contact:contact_detail2' item.id %}'">
                <p class="summary" style="float:left;">{{ item.summary }}</p>
                <p class="nickname" style="float:left; margin-left:5%;">{{ item.recipient.nickname }}</p>
                <p class="time" style="float:left; margin-left:5%;">{{ item.sentAt}}</p>
            </div>
            <img onclick = "location.href='{% url 'contact:contact_delete' item.id %}'" class="delete_img" style="" src="{% static 'img/contact/delete.png' %}"/>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    <p class="modal_font3">60일이 지난 쪽지는 자동으로 삭제됩니다.</p>
</div>
{% endblock %}
