{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/recipe/recipe_create.css' %}"/>
<link rel="stylesheet" href="{% static 'css/recipe/recipe_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">
<div style=" padding: 0 7%; overflow:hidden;width: 100%; background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
</div>

<div id="send_mail" style="padding: 0 10%; margin: 50px 0; width: 100%;">
    <button class="back_btn" onclick = "location.href='{% url 'contact:contact_list' %}'"><img src="{% static 'img/contact/back.png' %}"/></button>
    <div style="padding: 0 50px;">
        <form method="POST" action="">
        {%csrf_token %}
            <div style="overflow:hidden; height: 80px;">
                <p class="header_font" style="float:left; margin-top: 20px;">쪽지쓰기</p>
                <input type="submit" value="보내기" style="float:right; border: 0px;" class="button1 comment_button">
            </div>
            <div class="search" style="line-height:50px; overflow:hidden;">
                To. {{ sender_nickname }}
            </div>
            <hr>
            {{ form.as_p }}
            <hr>
            <p class="modal_font3" id="bytes">0 byte</p>
        </form>
    </div>
</div>
<script type="text/javascript">
function fnChkByte(obj)
{
    var str = obj.value;
    var str_len = str.length;

    var rbyte = 0;
    var rlen = 0;
    var one_char = "";
    var str2 = "";

    for(var i=0; i<str_len; i++){
        one_char = str.charAt(i);
        if(escape(one_char).length > 4){
            rbyte += 2;
        }else{
            rbyte++;
        }
    }
    document.getElementById('bytes').innerText = rbyte+" byte";
}
</script>
{% endblock %}
