{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/recipe/recipe_create.css' %}"/>
<link rel="stylesheet" href="{% static 'css/recipe/recipe_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/recipe/recipe_list.css' %}">
<link rel="stylesheet" href="{% static 'css/question/questionList.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/footer/Report_problem.css' %}"/>
<script type="text/javascript" src="{% static 'js/footer/Report_problem.js' %}"></script>

<div style=" padding: 0 7%; overflow:hidden;width: 100%; background: #1B1B1B;border-radius: 0px 0px 80px 80px;">
    {% include 'nav.html' %}
</div>

<div id="find_user" style="padding: 0 10%; margin: 50px 0; width: 100%;">
    <button class="back_btn" onclick = "location.href='{% url 'contact:contact_list' %}'"><img src="{% static 'img/contact/back.png' %}"/></button>
    <div style="padding: 0 50px;">
        <div style="overflow:hidden; height: 80px; margin-top:5px; ">
            <p class="header_font" style="float:left; margin-top: 20px;">회원검색</p>
            <p class="" style="float:right; margin-top:38px;">쪽지를 보내고 싶은 닉네임을 클릭 해주세요</p>
        </div>
        <div style="position:relative;">
            <form class="" action="{% url 'contact:contact_usersearch' %}" method="POST">
            {% csrf_token %}
            <input class="search" style="background: #FFFFFF; border: 1px solid #FFFFFF; box-sizing: border-box; box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);border-radius: 16px; padding: 10px;width: 100%; height: 53px; margin:0 auto;" type="search" placeholder="쪽지를 보낼 회원을 검색해 주세요!" aria-label="Search" name="q" value="{{q}}">
            <button class="search_btn" type="submit" name="user_search_btn"style="position: absolute; top: 11px; right:3%; border: 0px solid white; background-color:white;">
                <img class="search_icon" src="{% static 'img/recipe/recipe_home/search.png' %}"/>
            </button>
            </form>
        </div>
        <hr>
        <div style="height:330px; overflow:auto; padding: 30px;">
            {% if flag == 1 %}
                {% if username %}
                    {% for item in username %}
                    <div style="width:100%; height: 50px;" onclick = "location.href='{% url 'contact:contact_create' item.id %}'">
                        <label style="cursor:pointer;" class="list"><input style="display:none;" type="radio" name="username" value="{{ item.nickname }}" autofocus="" > <img class="noncheck_box" src="{% static 'img/footer/report_problem/noncheck.png' %}"/> <img class="check_box" style="display:none;" src="{% static 'img/footer/report_problem/check.png' %}"/>{{ item.nickname }}</label>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="noResultBox" style="margin:0 auto;">
                        <img src="{% static 'img/question/error.png' %}">
                        <h2 class="noResultText" style="padding-top:24px;">검색결과가 없습니다.</h2>
                        <h2 class="noResultText">다른 검색어로 검색해 보세요!</h2>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <p class="modal_font3">60일이 지난 쪽지는 자동으로 삭제됩니다.</p>
    </div>
</div>
{% endblock %}
