<!DOCTYPE html>
    <body>
        <p>
            내 쪽지함
        </p>
        <p> [new Messages] </p>

        {% for new in rlist %}
            {% if not new.isRead %}
                <div onclick ="location.href='{% url 'viewMessage' new.id %}'">
                    <p> 보낸 이: {{ new.sender }} </p>
                    <p> 내용: {{ new.content }} </p>
                </div>
            <br>
            {% endif %}
        {% endfor %}
        {% for new in remessage %}
            {% if not new.isRead %}
                <div onclick ="location.href='{% url 'viewMessage' new.id %}'">
                    <p> 보낸 이: {{ new.sender }} </p>
                    <p> 내용: {{ new.content }} </p>
                </div>
            <br>
            {% endif %}
        {% endfor %}
        <hr>

        <p> [Read Messages] </p>

        {% for new in rlist %}
            {% if new.isRead %}
                <div onclick ="location.href='{% url 'viewMessage' new.id %}'">
                    <p> 보낸 이: {{ new.sender }} <p>
                    <p> 내용: {{ new.content }} </p>
                </div>
            {% endif %}
        {% endfor %}
        {% for new in remessage %}
            {% if new.isRead %}
                <div onclick ="location.href='{% url 'viewMessage' new.id %}'">
                    <p> 보낸 이: {{ new.sender }} <p>
                    <p> 내용: {{ new.content }} </p>
                </div>
            {% endif %}
        {% endfor %}
        <hr>
        <p> [Send Messages] </p>

        {% for send in slist %}
        <div onclick ="location.href='{% url 'viewMessage' send.id %}'">
            <p>받은 사람: {{ send.recipient }}</p>
            <p>내용: {{ send.content }} </p>
            <p>읽음/읽지 않음: {{send.isRead }}</p>
        </div>
        <br>
        {% endfor %}
        {% for send in resentList %}
        <div onclick ="location.href='{% url 'viewMessage' send.id %}'">
            <p>받은 사람: {{ send.recipient }}</p>
            <p>내용: {{ send.content }} </p>
            <p>읽음/읽지 않음: {{send.isRead }}</p>
        </div>
        <br>
        {% endfor %}
    </body>
</html>