<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@400;700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/recipe/reset.css' %}"/>
</head>
<body>
<nav style="display:flex;overflow:hidden;margin-top:58px; position:absolute;width: 100%;">
    <div style="display:flex;justify-content: space-around;">
        <a style="margin-left:8rem;
width: 18px;
height: 25px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
padding: 0 2rem;
color: #FF5C00;" href="{% url 'home:home' %}">홈</a>
        <a style="
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
padding: 0 2rem;
color: #FFFFFF;" href="{% url 'recipe:list_recipe' %}">레시피</a>

        <a style="
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
padding: 0 2rem;
color: #FFFFFF;
" href="{% url 'review:list_review' %}">후기</a>
        <a style="
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
padding: 0 2rem;
color: #FFFFFF;
" href="#">소개</a>
        <a style="

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
padding: 0 2rem;
color: #FFFFFF;" href="{% url 'question:list_question' %}">질문</a>
    </div>


    <div style="margin-left:20rem;">
        {% if user.is_authenticated %}
        <a href="{% url 'account:logout' %}" style="
padding: 0 2rem;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;">
        {{ user.nickname }}님 LOGOUT</a>

        <a href="{% url 'account:mypage' %}" style="
padding: 0 2rem;
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;


color: #FFFFFF;

">MYPAGE</a>

        {% else %}
        <a  href="{% url 'account:login' %}" style="

padding: 0 2rem;
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #FFFFFF;

">LOGIN</a>
        <a  href="{% url 'account:register' %}" style="

padding: 0 2rem;
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;


color: #FFFFFF;

">JOIN</a>
        {% endif %}
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
<footer style="padding: 5rem 0">
    <p style="
height: 29px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 29px;
text-align: center;

color: #262626;
">
        회사 소개 | 사이트 이용약관 | 개인정보 처리방침
        | 광고·제휴 문의 | 고객센터
    </p>
    <p style="margin-top: 15px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #757575;">
        집사의 레시피 | 서울특별시 광진구 능동로 120 | 대표: 최지윤 | 연락처: 010-9265-6874 사업자등록번호: xxx-xx-xxxxx | 통신판매업신고번호: 제2020-서울강남-xxxxx 호|
    </p>
    <p style="margin-top:10px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #757575;">
        Copyright ©Recipe of Servant Inc. All Rights Reserved
    </p>
</footer>
</body>
</html>