<div id="confirmModal" class="modal fade modal-center" style="" tabindex="-1" role="dialog"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-center" role="document" style="height:314px;">
        <div class="modal-content modal-center" style="width:100%; height:100%; text-align:center;">
            <div class="modal-body modal-center">
                <p></p>
                <div style="text-align:center;">
                    <button data-dismiss="modal" id="confirmButtonModal" class="submitButton"
                        style="display:block; width:179px;height:55px;border-radius: 18px; float:left;">삭제</button>
                    <button type="button" class="cancelButton" data-dismiss="modal"
                        style="display:block; float:left; min-width:179px;height:55px;box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);border-radius: 18px;">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
