{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div id="wrapper">
        <div id="infoContainer">
            <a href="">사이트 이용약관 |</a>
            <a href="">개인정보 처리방침 |</a>
            <a href="">광고·제휴 문의 |</a>
            <a href="">고객센터 |</a>
        </div>
        <p id="businessContainer">
            집사의 레시피 | 책임자: 최지윤 | 연락처: 010-9265-6874, spaceofjane@gmail.com
            <br>
            <br>
            © 2020 집사 레시피 All Rights Reserved
        </p>
    </div>
</footer>
{% endblock %}
