{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'homeNav.html' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div id="mainBox">
    <div class="my-5" style="margin: 800px 0 800px;">
        <h1 id="mainText">반려동물을 위한<br />요리 레시피를<br />공유해봐요!</h1>
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0" action="" method="POST">
            {% csrf_token %}
            <div>
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search"
                    name="query_str" value="{{query_str}}">
                <a id="writeBtn" class="btn btn-primary" href="{% url 'recipe:create_recipe' %}">레시피 작성하기</a>
            </div>
        </form>
    </div>
</div>
<div id="contentBox">
    <div class="hotRecipeBox">
        <div id="hotRecipe">
            이번주<br>
            HOT 레시피
        </div>
        <p id="hotRecipeIntro">
            반려동물을 위해 요리 레시피를 공유해봐요!
        </p>
    </div>
    <div class="bestRecipeBox">
        <div id="bestRecipe">
            이번주<br>
            Best 레시피
        </div>
        <p id="bestRecipeIntro">
            후기가 너무 좋은 레시피! 놓치지 말고 만들어봐요.
        </p>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}